body {
    max-width: 1200px;
}

div {
    max-width: 1200px;
    background-color: red;
    margin: 0 auto;
}

h1 {
    font-size: 80px;
}

span {
    color: grey;
}

hr {
    max-width: 500px;
}

p {
    font-weight: bold;
    color: red;
}

h1 {
    font-weight: 400;
}